<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyin.portrait.dao.MenuShareGroupDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianyin.portrait.domain.MenuShareGroupDeptModel">
        <id column="id" property="id" />
        <result column="menu_share_group_id" property="menuShareGroupId" />
        <result column="dept_id" property="deptId" />
        <result column="scbj" property="scbj" />
        <result column="extra_modifier" property="extraModifier" />
        <result column="extra_modifytime" property="extraModifytime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_share_group_id, dept_id, scbj, extra_modifier, extra_modifytime
    </sql>


	<select id="selectPagedList" resultType="com.tianyin.portrait.domain.MenuShareGroupDeptModel">
		select * from t_menu_share_group_dept
	</select>
	
</mapper>
