<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyin.portrait.dao.ShowMenuShareGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianyin.portrait.domain.ShowMenuShareGroupModel">
        <id column="id" property="id" />
        <result column="show_menu_id" property="showMenuId" />
        <result column="menu_share_group_id" property="menuShareGroupId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, show_menu_id, menu_share_group_id
    </sql>


	<select id="selectPagedList" resultType="com.tianyin.portrait.domain.ShowMenuShareGroupModel">
		select * from t_show_menu_share_group
	</select>
	
</mapper>
